{{ define "content" }}
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Bestiary List </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Database</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Bestiary</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-description">Use search to look for specific creatures</p>
                    <nav>
                      <ul class="pagination">
                        {{if ne .Site.Page.PreviousDisplay ""}}<li class="page-item"><a class="page-link" href="{{.Site.Page.Previous}}">Previous</a></li>{{end}}
                        <li class="page-item"><a class="page-link" href="#">{{.Site.Page.CurrentDisplay}}</a></li>
                        <li class="page-item"><a class="page-link" href="{{.Site.Page.Next}}">Next</a></li>
                      </ul>
                    </nav>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> Name </th>                            
                            <th> Summary </th>
                          </tr>
                        </thead>
                        <tbody>
                        {{ range .Npcs}}
                          <tr>
                            <td width="30px">
                              <a href="/bestiary/{{.ID}}"><div class="text-center">{{.CleanName}}<br><br>
                              <img style="height: 100%" class="img-fluid mx-auto d-block" alt="{{.CleanName}}" src="/assets/img/npc_models/CTN_{{.Race}}_{{.Gender}}_{{.Texture}}_{{.Helmtexture}}.png"/>
                              </div></a>
                            </td>
                            
                            <td><a href="/bestiary/{{.ID}}"><span class="text-success">{{.Level}}</span> {{.RaceName}} <i class="xa {{.RaceIcon}}"></i> <span style="color: purple">{{.ClassName}} <i class="xa {{.ClassIcon}}"></i></span> </a></td>
                            </a>
                        {{end}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card-footer">
                  <nav>
                    <ul class="pagination">
                      {{if ne .Site.Page.PreviousDisplay ""}}<li class="page-item"><a class="page-link" href="{{.Site.Page.Previous}}">Previous</a></li>{{end}}
                      <li class="page-item"><a class="page-link" href="#">{{.Site.Page.CurrentDisplay}}</a></li>
                      <li class="page-item"><a class="page-link" href="{{.Site.Page.Next}}">Next</a></li>
                    </ul>
                  </nav>
                  </div>
                </div>
              </div>    
            </div>
          </div>          
{{ end }}