{{ define "content" }}
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> {{.Npc.Name }} </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Database</a></li>
				  <li class="breadcrumb-item"><a href="/bestiary/">Bestiary</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{.Npc.Name }}</li>
                </ol>
              </nav>
            </div>
            <div class="row">
			  <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      {{.Description}}
                    </div>
                  </div>
                </div>
              </div>
			  <div class="col-lg-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
					<table class="table">
                        <tbody>
							<tr><td>Level: <i class="text-warning">{{.Npc.Level}}</i></td></tr>
							<tr><td>HP: <i class="text-warning">{{.Npc.Hp}}</i>, Regen: <i class="text-success">{{.Npc.HpRegenRate}}</i></td></tr>
							<tr><td>Damage: <i class="text-danger">{{.Npc.Mindmg}}-{{.Npc.Maxdmg}}</i></td></tr>
							<tr><td>Class: <i class="xa {{.Npc.ClassIcon}} text-danger"></i> {{.Npc.ClassName}}</td></tr>
							<tr><td>Race: <a href="#"><i class="xa {{.Npc.RaceIcon}}"></i></a> {{.Npc.RaceName}}</td></tr>	
						</tbody>
					</table>
                    </div>
                  </div>
                </div>
              </div>    	

              <div class="col-md-12 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Spells</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                        {{range .Spells}}<tr><td></td><td><a href="/item/{{.ID}}">{{.Name.String}}{{.Summary}}</a></td></tr>{{end}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>				
              </div>
			  <div class="col-md-12 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Items</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                        {{range .Items}}<tr><td></td><td><a href="/item/{{.ID}}">{{.Name}}</a></td></tr>{{end}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>				
              </div>
			  <div class="col-md-12 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Factions</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                        {{range .Factions}}<tr><td></td><td><a href="/item/{{.ID}}">{{.Name}}</a></td></tr>{{end}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>				
              </div>


            </div>
          </div>          
{{ end }}