{{ define "content" }}
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Bestiary List </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Database</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Bestiary</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Bestiary</h4>
                    <p class="card-description">Use search to look for specific creatures</p>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> Info </th>
                            <th> Name </th>
                            <th> Summary </th>
                          </tr>
                        </thead>
                        <tbody>
                        {{ range .Npcs}}
                          <tr>
                            <td class="py-1" width="50px"><a href="/bestiary/{{.ID}}"><i class="text-success">{{.Level}}</i> <i class="xa {{.RaceIcon}}"></i><i class="xa {{.ClassIcon}} text-danger"></i></a></td>
                            <td><a href="/bestiary/{{.ID}}">{{.Name}}</a></td>
                            <td>Brief summary</td>
                            </a>
                        {{end}}                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
          </div>          
{{ end }}